@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-vibrant/2.1.0/vibrant.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="intro">
        <div class="intro__media">
            <video class="intro__media-video" src="~/lib/resources/lv_0_20240716115956.mp4" autoplay muted loop></video>
        </div>
        <div class="main-panel">
            <img src="~/lib/resources/kandinsky-download-1725187229371.jpeg" class="logo-service">
            <p class="name-service">Mell Music</p>
            <button class="btn-home">Главная</button>
            <button class="btn-favorites">Фавориты</button>
        </div>
        <div class="intro__content">
            <h1>Найти трек. Легко.</h1>
            <form asp-controller="Home" asp-action="ResultSearch" method="post">
                <input class="text_queary" name="Queary" id="input_queary" placeholder="Ник артиста или название трека" />
                <button type="submit" class="btn_queary" id="btn_queary"></button>
            </form>
        </div>
        <div class="result-tracks" style="display: none;">
            <h1>Ваш результат: </h1>
            <ul class="tracks">
            </ul>
        </div>
    </div>
    <div class="music-panel" id="gradient-box">
        <img alt="Обложка песни" class="cover-panel" id="img-for-gradient">
        <div class="track-info-panel">
            <h3 class="track-title-panel"></h3>
            <p class="track-artist-panel"></p>
        </div>
        <audio id="track_for_url" ></audio>   
        <div class="music-buttons">
            <img src="~/lib/resources/gray left.png" class="prev-track-button">
            <img src="~/lib/resources/play (2).jpg" class="stop-track-button" id="play-music-btn">
            <img src="~/lib/resources/gray right.png" class="next-track-button">
        </div>

        <!-- Прогресс-бар перемещен внутрь music-buttons -->
        <div class="progress__container">
            <div class="progress" id="progress_bar"></div>
        </div>
    </div>


</body>
</html>
