.album-container {
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: 85%;
    color: whitesmoke;
    z-index: 3; /* Контент выше видео и затемнения */
    left: 10%;
    right: 10%;
    top: 4.75%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: gray;
    border-radius: 25px;
}
.header-album-info {
    display: inline-flex;
    margin-top: 20px;
}

.album-article {
    color: gray;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
}
.album-cover {
    margin-left: 20px;
    border-radius: 5%;
    width: 250px;
    height: 250px;
}
.about-album {
    display: block;
    margin-left: 25px;
    margin-top: -25px;
}

.results {
    display: flex;
    height: 450px;
}
 ul {
    width: 100%;
    margin-left: -30px;
 }

 .result-result-tracks-ul {
    width: 100%;
    margin-left: 20px;
    height: 450px;
 }


 .artist-album-cover-img {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
 }
 .artist-album-cover {
    border-radius: 10px;
    margin-top: 50px;
    height: 50px;
    width: auto;
 }
 
 .artist-album-cover:hover {
    cursor: pointer;
    background-color: black;

 }

 .album-cover-tracks {
    top: 2px;
    position: absolute;
    right: 5px;
    border-radius: 10%;
    width: 210px;
    height: 210px;
    margin-right: -0px;
 }

 .album-article {
   margin-left: 0px;
   font-weight: 850;
   color: rgba(255, 255, 255, 0.452);
   margin-top: 40px;
 }

.all-tracks-article-album {
   font-size: 40px;
   font-weight: 1000;
   margin-top: -10px;
}
.container-cover-artist {
   display: flex;
}
.cover-artist-album {
   margin-top: 15px;
   border-radius: 20px;
   width: 40px;
   height: 40px;
}
.artist-name-article-album {
   transition: filter 0.2s ease-in-out;
   font-size: 20px;
   font-weight: 850;
   color: rgba(255, 255, 255, 0.452);
   margin-top: 23px;
   margin-left: 10px;
}
.artist-name-article-album:hover {
   cursor: pointer;
   color: white;
}
