body {
    scrollbar-width: thin;
    scrollbar-color: gray rgba(0, 0, 0, 0);
}
.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.favorite_content {
    position: absolute;
    margin: 0 auto;
    width: 85%;
    height: 900px;
    color: whitesmoke;
    z-index: 3; /* Контент выше видео и затемнения */
    left: 10%;
    right: 10%;
    top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;   
}

.result-favorites {
    margin-top: 50px;
    height: 35%;
    width: 100%;
}

.favorites {
    width: 900px;
    height: 250%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10000, 0.01fr);
    grid-column-gap: 10px;
    overflow-y: auto;
}

#tracks-text {
    margin-top: -50px;
    width: 200px;
}
@media (max-width: 500px) {
    .heart-img {
        width: 150px !important;
        height: 150px !important;
    }
    .all-tracks-article {
        font-size: 25px !important;
    }
}

.heart-img {
    top: 2px;
    position: absolute;
    right: 10px;
    border-radius: 10%;
    width: 210px;
    height: 210px;
    margin-right: -0px;
}
.header-favorite-tracks {
    left: 0px;
    right: 8px;
    margin: 0 auto;
    position: absolute;
    top: 65px;
    width: 100%;
    height: 290px;
    background-color: rgb(211, 79, 189);
    color: whitesmoke;
    border: 1px solid rgb(46, 45, 45);
}