@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.intro__media_result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ccc url(~/lib/resources/4fea30d2395e228a9adc1e9e949ce62c59b5790d.jpg) no-repeat center center;
    background-size: cover;
}

    .intro__media_result::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
    }

.intro__media-video_result {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.result_content {
    position: absolute;
    margin: 0 auto;
    width: 85%;
    height: 80%;
    color: whitesmoke;
    z-index: 3; /* Контент выше видео и затемнения */
    left: 10%;
    right: 10%;
    top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.artists {
    position: relative;
    height: 30%;
    /*background-color: aqua;*/
}

    .artists h2 {
        font-size: 2em;
        color: #fff;
        margin: 0;
    }

/*.cover-container {
    position: absolute;
    width: 100px;*/ /* Adjust size as needed */
    /*height: 100px;
}*/
.button-container {
    position: absolute;
    margin-top: 440px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Добавляем отступ между кнопками */
}
.auth__content {
    color: whitesmoke;
    position: fixed;
    margin-top: -100px; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Корректируем точку отсчета для центровки */
    z-index: 5;
    width: 200px; /* Можно увеличить ширину, если инпуты не помещаются */
    border-radius: 15%;
    height: 300px; /* Высота будет зависеть от контента */
    padding: 20px; /* Добавляем отступы внутри контейнера */
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по центру */
    justify-content: center;
}


.authButton, .enterButton, .changeAuthStateButton {
    width: 200px; /* Фиксированная ширина кнопок */
    height: 50px;
    margin: 5px 0;
    display: block;
    text-align: center; /* Выравнивание текста по центру кнопки */
}

.enterButton {
    width: 75px;
    background-color: rgb(153, 56, 56);
    border-radius: 15px;
    border-width: 1px;
}

.changeAuthStateButton {
    background-color: rgba(128, 128, 128, 0.445);
    color: white;
    width: 80px;
}

.authButton {
    background-color: gray;
}

.cover-artist {
    position: absolute;
    border-radius: 55% /*55% 25% 25%*/;
    width: 170px;
    height: 170px;
    object-fit: cover;
    display: block;
    margin: 0;
    margin-left: -9px;
}

.result-artists {
    list-style-type: none;
    margin-top: 30px;
    margin-left: 0px;
}


.result_item {
    width: 180px;
    height: 170px;
    text-align: center;
    display: inline-block;
}

.result_item_album {
    padding-top: 7px;
    width: 180px;
    height: 220px;
    text-align: center;
    display: inline-block;
}
.blur_artist_cover {
    margin-left: 10px;
    border-radius: 55%;
    margin-top: 81px;
    background: linear-gradient(to top, black -5%, transparent 150%);
    opacity: 1;
    width: 80%;
    height: 70px;
    position: relative;
}
.artist_name {
    position: relative;
    top: 75%;
    color: white; /* Or any other color to make it visible */
    font-size: 16px; /* Adjust as needed */
    line-height: 1.2;
    margin-left: 12px;
    margin-right: 20px;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.albums {
    position: relative;
    height: 30%;
}

.cover-album {
    position: absolute;
    border-radius: 15% /*55% 25% 25%*/;
    width: 170px;
    height: 170px;
    object-fit: cover;
    display: block;
    margin: 0;
    margin-left: -10px;
}

.album_name {
    position: relative;
    top: 65%;
    color: white; /* Or any other color to make it visible */
    font-size: 16px; /* Adjust as needed */
    line-height: 1.2;
    margin-left: 12px;
    margin-right: 20px;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album_artist {
    position: relative;
    z-index: 10;
    color: darkgray;
    font-size: 14px;
    margin-left: -5px;
    margin-top: 3px;
}
.blur_album_cover {
    margin-left: -12px;
    border-radius: 25% 25% 25px 25px;
    margin-top: 102px;
    background: linear-gradient(to top, black -5%, transparent 150%);
    opacity: 1;
    width: 107%;
    height: 50px;
    position: relative;
}

.zindexAuth {
    z-index: 10;
    display: block;
}
.album_year {
    position: relative;
    z-index: 10;
    color: darkgray;
    font-size: 14px;
    margin-left: -5px;
    margin-top: -7px;
}

.result-tracks {
    margin-top: 50px;
    height: 35%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 1000px;
    overflow-y: auto;
    width: 1800px;
}

li {
    padding-left: 15px;
    height: 60px;
    border-radius: 15px;
}

    li:hover {
        background-color: rgb(48, 47, 47);
        cursor: pointer;
    }

.track-item {
    align-items: center;
    width: 100%;
    margin-bottom: -1px;
}

.cover {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-right: 10px;
}

.track-info {
    flex-grow: 1;
    margin-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-title {
    margin: 0;
    font-size: 17px;
}

.track-artist {
    margin: 0;
    margin-top: 5px;
    color: #b9abab;
}


.track-time {
    position: absolute;
    right: 10px; /* Устанавливаем позицию относительно правого края */
    top: 50%; /* Выравниваем по вертикали по центру */
    transform: translateY(-50%);
    color: #b9abab;
}
.tracks {
    height: 420px;
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(4, 0.1fr); /* Четыре строки фиксированной высоты */
    grid-column-gap: 10px;
    width: 100%;
}

@media (min-width: 1300px ) {
    .tracks {
        height: 400px !important;
    }
}
@media (min-width: 1200px) {
    .tracks {
        grid-template-columns: repeat(4, 1fr); /* Три столбца для больших экранов */
        height: 270px;
    }
    .track-item {
        width: auto; /* Используем auto для адаптации под ширину колонки */
    }
}


@media (max-width: 1200px) {
    .tracks {
        grid-template-columns: repeat(2, 1fr); /* Вернуть два столбца для маленьких экранов */
        height: 500px;
    }

    .track-item {
        width: auto; /* Используем auto для адаптации под ширину колонки */
    }
}


.music-panel {
    position: fixed; /* Оставляем фиксированное позиционирование */
    bottom: 0; /* Фиксируем панель внизу */
    margin: 0 auto;
    width: 80%;
    bottom: 0;
    height: 70px;
    background-color: gray; /* Цвет фона */
    padding-bottom: 1px; /*/ /* Отступ снизу */
    z-index: 10; /* Убедитесь, что панель выше других элементов, если это необходимо */
    border-radius: 13px 13px 0 0 !important;
    display: flex;
    align-items: center;
    color: floralwhite;
}

.cover-panel {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    width: 58px;
    height: 58px;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.track-info-panel {
    position: relative;
    margin-bottom: 18px;
    margin-left: 20px;
    height: 50px;
}

.track-title-panel {
    font-size: 22px;
}

.track-artist-panel {
    margin-top: -1px;
    font-size: 17px;
    color: darkgrey;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-stroke: 1px black;
}

.music-buttons {
    position: absolute; /* Поменял на relative */
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Центровка кнопок и прогресс-бара по горизонтали */
    align-items: center;
}

.prev-track-button, .next-track-button {
    height: 25px;
    width: 25px;
}

.prev-track-button:hover, .next-track-button:hover, .stop-track-button:hover {
    -webkit-filter: brightness(500%);
    cursor: pointer;
}

.stop-track-button {
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}



.progress__container {
    position: absolute;
    display: inline-flex;
    background: gray !important;
    border-radius: 5px;
    width: 300px; /* Ширина прогресс-бара */
    height: 10px;
    margin: 0 auto;
    margin-top: 43px;
    left: 25%;
    right: 25%;
    cursor: pointer;
}

.progress {
    background: white;
    border-radius: 5px;
    height: 3px;
    /*width: 150px;*/
}

@media (max-width: 800px) {
    .prev-track-button, .next-track-button, .stop-track-button {
        width: 20px; /* Уменьшенный размер для маленьких экранов */
        height: 20px; /* Уменьшенный размер для маленьких экранов */
    }

    .stop-track-button {
        margin-left: 5px;
        margin-right: 5px;
        height: 25px; /* Немного больше, чтобы выделить кнопку воспроизведения */
        width: 25px;
    }

    .progress__container {
        width: 200px;
    }

    .track-title-panel {
        margin-top: 7px;
        font-size: 18px;
    }

    .track-artist-panel {
        font-size: 13px;
    }
}
@media (max-width: 700px) {
    .cover-panel {
        margin-left: 10px;
        width: 48px;
        height: 48px;
    }
    .track-info-panel {
        margin-left: 10px;
    }

    .progress__container {
        width: 100px;
    }
}

.main-panel {
    position: fixed; /* Оставляем фиксированное позиционирование */
    top: 0; /* Фиксируем панель внизу */
    left: 50%; /* Устанавливаем левый край по центру */
    height: 50px;
    transform: translateX(-50%); /* Сдвигаем на половину ширины панели для центрирования */
    margin: 0 auto;
    width: 80%;
    /* background-color: gray;*/ /* Цвет фона */
    padding-bottom: 1px; /*/ /* Отступ снизу */
    z-index: 10; /* Убедитесь, что панель выше других элементов, если это необходимо */
    border-radius: 0 0 13px 13px !important;
    display: flex;
    align-items: center;
    color: floralwhite;
    text-align: center;
    background-color: rgba(50, 256, 100, 0.1);
}

.logo-service {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 15px;
}
.name-service {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
}

@media (max-width: 600px) {
    .name-service {
        font-size: 16px;
    }

    .btn-home, .btn-favorites, .btn-enter, .btn-exit {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        font-size: 16px;
    }
    .btn-enter, .btn-exit {
        margin-right: -50px;
    }
}

@media (max-width: 500px) {

    .logo-service {
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }
    .name-service {
        font-size: 12px;
        display: none;
    }

    .btn-home, .btn-favorites, .btn-enter, .btn-exit {
        width: 20px;
        height: 20px;
        margin-right: 30px;
        font-size: 12px !important;
    }
    .btn-enter, .btn-exit {
        margin-right: -50px;
    }
    .button-container-main-panel {
        gap: 1px !important;
    }

    .tracks {
        margin-left: -20px;
        height: 950px;
        display: block;
    }
    .result-tracks {
        height: 950px;
    }
    .track-title {
        font-size: 15px;
    }
    .track-artist {
        font-size: 14px;
    }

    .result_content  {
        margin-left: -20px;
    }
}

@media (max-width: 450px) {
    .cover-artist {
        width: 130px;
        height: 130px;
    }
    .blur_artist_cover {
        margin-top: 70px;
        height: 50px;
    }
    .artist_name {
        font-size: 14px;
    }
    .result_item {
        height: 130px;
        width: 140px;
        margin-bottom: 30px;
        margin-left: 25px;
    }
    .result-artists {
        width: 400px !important;
        margin-left: -15px;
    }

    .result_albums {
        margin-left: -5px;
        width: 350px !important;
    }

    .result_item_album {
        width: 140px;
        height: 180px;
        margin-left: 19px;
    }
    .cover-album {
        width: 130px;
        height: 130px;   
    }
    .blur_album_cover {
        margin-top: 80px;
        height: 35px;
    }
    .album_name {
        font-size: 14px;
    }
    .album_artist, .album_year {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    .result-artists {
        width: 370px !important;
        margin-left: -30px;
    }
    .result_albums {
        margin-left: -21px;
    }

}

@media (max-width: 380px) {
    .result_content {
        width: 90%;
    }
    .result-artists {
        margin-left: -38px;
    }
    .result_albums {
        margin-left: -28px;
    }
}
@media (max-width: 360px) {
    .result_albums {
        margin-left: -40px;
    }
    .result-artists {
        width: 365px !important;
        margin-left: -50px;
    }
}
@media (min-width: 600px) {
    .btn-enter, .btn-exit {
        margin-right: -30px;
    }
}

@media (max-width: 1700px) {

    .result_content {
        overflow-y: auto;
        height: 90%;
    }
    .albums {
        width: 900px;
        margin-top: 150px;
    }
    .result_albums {
        width: 1300px;
    }
    .result-tracks {
        margin-top: 230px;
    }
    .result-artists {
        width: 1300px;
        height: 550px;
    }
}
@media (max-width: 1550px) {
    .result_albums {
        width: 1200px;
    }
    .result-artists {
        width: 1200px;
    }
    
}

@media (max-width: 1300px) {
    .result_content {
        height: 80%;
    }
    .result_albums {
        width: 1100px;
    }
    .result-artists {
        width: 1100px;
    }
}
@media (max-width: 1100px) {
    .result_albums {
        width: 900px;
    }
    .result-artists {
        width: 900px;
    }
}
@media (max-width: 900px) {
    .result_albums {
        width: 700px;
        height: 670px;
    }
    .result-artists {
        width: 700px;
    }
    .albums {
        margin-top: 330px;
    }

    .result-tracks {
        margin-top: 450px;
    }
}
@media (max-width: 700px) {
    .result_albums {
        width: 500px;
        height: 900px;
    }
    .result-artists {
        width: 500px;
        height: 800px;
    }
    .albums {
        margin-top: 630px !important;
    }

    .result-tracks {
        margin-top: 750px !important;
    }
}
@media (max-height: 900px) {
    .albums {
        margin-top: 400px;
    }
    .result-tracks {
        margin-top: 500px;
    }
    .auth__content {
        margin-top: -25%;
    }
}
@media (max-height: 700px) {
    .albums {
        margin-top: 450px;
    }
    .result-tracks {
        margin-top: 550px;
    }
    .auth__content {
        margin-top: 10%;
    }
}
@media (max-height: 650px) {
    .auth__content {
        margin-top: 15%;
    }
}
.btn-home, .btn-favorites, .btn-enter, .btn-exit {
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
}

.btn-enter, .btn-exit {
    right: 220px;
}

.btn-home {
    right: 0px;
}

.btn-favorites {
    right: 90px;
}

.btn-home:hover, .btn-favorites:hover, .btn-enter:hover, .btn-exit:hover {
    color: #9932CC;
}



.like-track {
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    right: 50px; /* Отступ справа */
    width: 45px;
    height: 45px;
    cursor: pointer; 
}
.like-track:hover {
    cursor: pointer;
}

/* Псевдоэлемент для черточки, только для кнопок .btn-home и .btn-favorites */
/* .btn-home::before, .btn-favorites::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 2px;
    background-color: white;
}

.btn-home:hover::before, .btn-favorites:hover::before {
    background-color: #9932CC;
} */
.zindexAuth {
    width: 200px;
    margin-bottom: 5px;
}



@media (min-width: 1650px) {
    #tracks-text {
        margin-top: -150px;
    }
}
@media (min-width: 1701px) {
    #tracks-text {
        margin-top: 40px;
    }
}

.auth-button-container {
    position: absolute;
    margin-top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Добавляем отступ между кнопками */
}